<html>
<head>
	<title>Wallets</title>

	 <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<header>
    <a href="/logout" class="btn waves-effect waves-light">Logout</a>
    <a href="/home" class="btn waves-effect waves-light">Home</a>
</header>
<body>
<% wallets.forEach(function(wallet) { %>
<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><%= wallet.name %></span>
          <b>Private Key:</b><%= wallet.privateKey %> <br>
          <b>Address:</b><%= wallet.address %> <br>
        </div>
      </div>
    </div>
  </div>
   <% }); %>
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

</body>
</html>            